div.span8.auto
  h3 
    |Hey, being here don't wait for revolution, 
    |next big thing or whole new approach to 
    |something important. It's just a simple thing.
  dl
    dt Who are users of this project?
    dd It is for those who like cathing moments via Shazam or SoundHound
    dt What does it do?
    dd 
      |You can send 
      |emails to the address add@mail2audio.com and it will 
      |automatically add songs listed in your letter to your account on 
      a(href="vk.com") vk.com
    dt Why?
    dd Just for fun.
    dt Who?
    dd
      a(href="http://github.com/Termina1") Me
  div.login-form
    a.btn.btn-primary(href="/auth/vkontakte", role="login-link") Login with vk.com
