.span6
  h2 So, choose your email...
  - form_tag({action: '/me'}, function(form) {
    div.mail
      label This is it
      input.span4(type="text", placeholder="Enter email...", value=everyauth.user.email, name="email")
    button.btn(type='submit') Submit
  - });
